
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }
 
body {
  background: url('Assets/background.jpg') no-repeat center center fixed;
  background-size:cover;
  height:100vh;
  font-family: 'Baloo Bhai 2', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  backdrop-filter: blur(10px);
    
}
 .container {
   text-align: center;
   width: auto;
   height: auto;
 }
 
 .logo {
  position: fixed;
  left: 20%;
  right: 20%;
  top: 20px;
  z-index: 3;
 }
 
 .logo-icon {
   width: 100%;
   max-width: 250px;
   height: auto;
 }
 
 .back-square,
 .front-square {
  position: absolute;
  inset: 0px;
  width: 50rem;
  max-width: 90vw;
  max-height: 100dvh;
  min-width: 50vw;
  min-height: auto;
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 111px;
  border-color: rgba(255, 255, 255, 0.5);
 }
 
 .back-square {
   background: linear-gradient(to bottom , rgba(255, 255, 255, 0.7), rgba(153, 153, 153,0) 95%);
   padding: 20px;
   z-index: 1;
   display: flex;
   flex-direction: column;
   gap: 10px;
   height: 35rem;
   backdrop-filter: blur(5px);
 }
 
 .front-square {
   background: linear-gradient(to bottom , rgba(255, 255, 255), rgba(153, 153, 153, 0.12) 25%);
   top: 75px;
   z-index: 2;
   backdrop-filter: blur(2px);
   height: 30rem;
 }
 
 .back-square h2 {
   font-size: 40px;
   font-family: 'Inter';
   font-weight: 500;
   color: #397C30;
   text-align: center;
   margin: 0;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
 }
 
 .input-wrapper {
   display: flex;
   font-size: 14px;
   align-items: justify;
   margin-top: 0px;
   margin-bottom: 35px;
   padding-bottom: 2px;
   border-bottom: 2px solid #004002;
 }
 
.user-icon, .lock-icon {
   margin-left: 0px;
   margin-right: 10px;
   color: #397C30;
   width: 22px;
 }
 
 input[type="email"] {
   flex: 1;
   border: none;
   outline: none;
   background: transparent;
   font-size: 1rem;
    margin-bottom: 10px;
 }

 input[type="password"] {
   flex: 1;
   border: none;
   outline: none;
   background: transparent;
   font-size: 1rem;
    margin-bottom: 10px;
 }
 
 .enter-btn {
   align-self: center;
   padding: 10px 20px;
   background-color: rgba(255, 255, 255, 0.1);
   color: #1D7E0A;
   border: solid #4EF037;
   border-radius: 20px;
   font-weight: bold;
   box-shadow: 0 4px 13px rgba(0,0,0,0.3);
   transition: background 0.3s ease;
   cursor: pointer;
 }
 
 .enter-btn:hover {
   background-color: #178b08;
   color: white;
 }

 .front-square label{
   font-family: 'Inter',sans-serif;
   font-size: 25px;
   color: #397C30;
   text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); 
   font-weight: 200;
 }

 .in-front-sq{
   margin-left: 175px;
   margin-top: 100px;
   width: 50%;
   height:auto;
   justify-content: left;
   text-align: left;
   margin-bottom: 10px;
 }

 .signup-text{
   font-size: 1rem;
   color:white;
   margin-top: 15px;
   margin-bottom: 15px;
   text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
 }

 .google-icon{
   width: 55px;
   color: #15803d;
   margin-top: 15px;
   margin-bottom: 50px;
   filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.4));
 }

@media screen and (max-width: 750px) {

 .in-front-sq{
   margin: 60px auto 10px auto;
   width: 50%;
   height:auto;
   justify-content: left;
   text-align: left;
   margin-bottom: 10px;
 }

}